:root{
    --blue: #4DBDEB;
    --white: #ffffff;
    --dark-grey: #434545;
    --light-grey: #9EA1A1;
    --blue-casal: #266070;
    --blue-border-button: #00B1E4;
    --background-color: #E6E6E6;
}

*{
    margin:0;
    padding:0;
}

html{
    font-size:62.5%;
}

body{
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    min-width:320px;
}

header{
    width:100%;
    height:240px;
    background: linear-gradient(56deg, rgba(77,189,235,1) 0%, rgba(81,176,202,1) 35%, rgba(37,63,71,1) 100%);
    text-align: center;
    position:relative;
}

header img{
    margin:40px 0 25px 25px;
}

header h1{
    width:80%;
    min-width:270px;
    font-size:2rem;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    line-height:2.2rem;
    color: var(--white);
    margin:0 auto;
}

.header__button{
    display: inline-block;
    width: 180px;
    height: 25px;
    background-color: var(--white);
    color: var(--blue);
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 220px;
    left: calc(50% - 90px);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 9px 3px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.header__button span{
    display:inline-block;
    width:20px;
    height:17px;
    background-image: url("./assets/icons/arrow-down.svg");
}

.discover-container{
    width:100%;
    min-width:320px;
    height:auto;
}

.discover-container__background-img{
    width: 150px;
    height:150px;
    margin:0 auto;
    background-image: url("./assets/img/imagenSeccion1.svg");
    background-size: cover;
    background-repeat: none;
    margin-top:45px;
    margin-bottom:30px;
}

.discover-container__title{
    width:85%;
    margin:0 auto;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    color: var(--blue);
    margin-bottom:15px;
    text-align: center;
    font-size:2.4rem;
    letter-spacing: 0.5px;
}

.discover-container__subtitle{
    width: 90%;
    margin: 0 auto;
    color: var(--light-grey);
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 0.8px;
}

.articles-card{
    width:100%;
    min-width: 320px;
    margin: 20px auto 45px;
    height:330px;
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type: x proximity;
}

.articles-card>div{
    width:215px;
    height:287px;
    border-radius:8px;
    text-align: start;
    margin:0 auto;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
    scroll-snap-align: center;
    margin-left:40px;
}



.articles-card>div:nth-child(1){
    margin-left:80px;
}

.articles-card>div:nth-child(3){
    margin-right:80px;
}
.articles-card__img{
    width:100%;
    height:120px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:10px;
    border-radius:8px 8px 0 0;
}

.articles-card>div:nth-child(1) .articles-card__img{
    background-image:url("./assets/img/article2.png");
}

.articles-card>div:nth-child(3) .articles-card__img{
    background-image:url("./assets/img/article3.png");
}

.articles-card>div:nth-child(2) .articles-card__img{ 
    background-image: url("./assets/img/article1.png");
}

.articles-card__title{
    font-weight:bold;
    font-family: 'Lato', sans-serif;
    font-size:1.4rem;
    line-height:1.6rem;
    color:var(--dark-grey);
    padding:5px 10px;
    letter-spacing: 0.8px;
}

.articles-card__info{  
    width:90%; 
    color:var(--light-grey);
    font-size:1.35rem;
    line-height:1.5rem;
    padding:5px 10px;
    letter-spacing: 0.5px;
    margin:10px auto 0;
}

.articles-card__button{
    display: inline-block;
    padding: 6px 10px;
    border-top:1px solid #787e7e5e;
    width:195px; 
    text-align: center;
    text-decoration: none;
    color: var(--blue);
    font-family: 'Lato', sans-serif;
    padding-top:8px;
    font-size:1.7rem;
    cursor:pointer;
    margin-top:10px;
}

.section2{
    height:auto;
    background-color:#4dbdebc9;
    position: relative;
    padding:10px;
}

.section2 .dots-icon-separator{
    display:inline-block;
    width: 50px;
    height:50px;
    background-image: url("./assets/icons/dots.svg");
    background-size:cover;
    background-repeat: no-repeat;
    position:absolute;
    top:-25px;
    left: calc(50% - 25px);
}

.section2 h3{
    width:90%;
    font-size:2.2rem;
    padding:10px;
    text-align: center;
    margin:0 auto;
    margin-top:30px;
    color:var(--white);
    font-family: 'Lato', sans-serif;
    line-height:2.4rem;
    font-weight: bold;
    letter-spacing: 1.1px;
    margin-bottom:20px;
}

.service-offer-container{
    width:100%;
    min-width:320px;
    max-width:900px;
    display:flex;
    flex-direction: column;
}

.service-offer-card{
    display:block;
    width:85%;
    min-width:260px;
    max-width:360px;
    height:120px;
    background-color:var(--blue-casal);
    border:none;
    border-radius:8px;
    padding:5px 10px;
    margin: 0 auto;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 45%);
    margin-bottom:20px;
}

.service-offer-card__icon{
    display:inline-block;
    width:40px;
    height:40px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-left:-3px;
}

.interviews{
    background-image: url("./assets/icons/interviews.svg");
}


.gadgets{
    background-image: url("./assets/icons/gadgets.png");
}

.news{
    background-image: url("./assets/icons/news.svg");
}

.trends{
    background-image: url("./assets/icons/trends.svg");
}

.service-offer-card__title{
    font-size:1.7rem;
    color:var(--white);
    font-family: 'Lato', sans-serif;
    margin-top:-5px;
    letter-spacing:1px;
}

.service-offer-card__info{
    width:100%;
    font-size:1.4rem;
    margin:7px 0;
    color:var(--light-grey);
    line-height: 1.6rem;
}

.additional-image-img{
    display:inline-block;
    width:100%;
    min-width:320px;
    height:40vh;
    background-image: url("./assets/img/adicionalImg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.additional-image-text{
    width:80%;
    font-size:2.4rem;
    color:var(--blue);
    font-weight:bold;
    font-family: 'lato', sans-serif;
    line-height:2.6rem;
    text-align: center;
    margin:0 auto;
    padding-top:40px;
    letter-spacing: 1px;
}

.plans{
    height:auto;
}

.plans-card-container{
    height:auto;
    width:100%;
    min-width: 320px;
    max-width:900px;
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type: x proximity;
    margin:0 auto;
}

.plans h3{
    width:80%;
    font-size:2.2rem;
    margin: 30px auto;
    text-align:center;
    color: var(--blue);
    letter-spacing: 1.5px;
    font-family: 'lato', sans-serif;
}

.plans-card{
    width:50%;
    min-width:190px;
    max-width:260px;
    height:auto;
    background-color: var(--white);
    margin:0 auto;
    border-radius:8px;
    margin-top:25px;
    padding:10px 20px;
    position:relative;
    scroll-snap-align: center;
    margin-left:20px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
    margin-bottom:10px;
}
.plans-card:nth-child(1){
    margin-left:30px;
}

.plans-card:nth-child(3){
    margin-right:30px;
}

.plans-card .recommended{
    display:inline-block;
    width:120px;
    height:25px;
    padding:5px;
    text-align: center;
    background-color: var(--blue);
    border-radius:4px;
    color:var(--white);
    font-size:1.2rem;
    line-height:2;
    position:absolute;
    top:-17px;
    left: calc(50% - 60px);
}

.plans-card__title{
    text-align: center;
    font-size:1.4rem;
    font-family: 'lato', sans-serif;
    font-weight:bold;
    color:var(--dark-grey);
    margin-top:25px;
}

.plans-card__amount{
    font-size:5.3rem;
    margin-top:10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight:bold;
    color:var(--dark-grey);
    position:relative;
}

.dollar-sign{
    font-size:1.2rem;
    position:absolute;
    top:10px;
    left:calc(50% - 42px);
}

.plans-card-details p{
    width:100%;
    font-size:1.2rem;
    line-height:1.4rem;
    margin-top:5px;
    color:var(--dark-grey);
    letter-spacing: 0.6px;
}

.plans-card-details span{
    display:inline-block;
    width:25px;
    height:10px;
    background-image: url("./assets/icons/dot.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:10px;
    color:var(--dark-grey);
}

.plans-card__button{
    width:110px;
    background-color:var(--blue);
    padding:9px 10px;
    border:1px solid #00b1e4;
    border-radius:3px;
    margin-top:15px;
    margin-left:45px;
    cursor:pointer;
}

.plans-card__button:hover{
    background-color: #266070;
}

.plans-card__button a{
    color:var(--white);
    text-decoration: none;
    font-size:1.4rem;
    letter-spacing:0.8px;
    font-family:"lato",sans-serif;
}

footer{
    height:140px;
    width:100%;
    background-color:var(--blue);
    display:flex;
    margin-top:30px;
}

footer div{
    display:flex;
    width:50%;
    justify-content:center;
    align-items:center;
}

.footer-left{
    justify-content: center;
    display:flex;
    flex-direction: column;
    margin-left:10px;
    margin-right:25px;
}

footer p{
    font-size:1.4rem;
    color:var(--white);
}

.social-media span{
    display:inline-block;
    width:17px;
    height:17px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:10px;
    margin-left:5px;
}

.footer-left .instagram{
    background-image:url("./assets/icons/instagram.svg");
}

.footer-left .linkedin{
    background-image:url("./assets/icons/linkedin.svg");
}
.footer-left .facebook{ 
    background-image:url("./assets/icons/facebook.svg");
}

.footer-right{
    display:inline-block;
    width:100px;
    height:60px;
    background-image:url("./assets/img/logoFooter.svg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:40px;
    margin-right:10px;
}

@media(min-width:768px){
    header h1{
        width:60%;
    }
    .discover-container__subtitle{
        width:70%;
    }
    .articles-card{
        overflow-x: hidden;
    }
    .articles-card>div:nth-child(1){
        margin-left:20px;
    }
    
    .articles-card>div:nth-child(3){
        margin-right:20px;
    }
    .section2 h3{
        width:65%;
    }
    .additional-image-text{
        width:50%;
    }
    .plans-card-container{
        overflow-x: hidden;
    }
    .plans-card:nth-child(1){
        margin-left:10px;
    }
    
    .plans-card:nth-child(3){
        margin-right:10px;
    }
    .footer-left{
        margin-right:110px;
    }
   
}

@media(min-width:1000px){
    header h1{
        width:50%;
    }
    .discover-container__subtitle{
        width:60%;
    }
    .articles-card{
        width:80%;
    }
    .services-offer-container{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        width:1024px;
    }
    .plans-card__button{
        margin-left:65px;
    }
    .footer-left{
        margin-right:140px;
    }
}
/*
@media (min-width:425px){
    header h1{
        font-size:1.2rem;
        letter-spacing:1px;
        line-height:1.4rem;
    }

    .header__button{
        width:170px;
        font-size:1rem;
        left: calc(50% - 85px);
    }

    .discover-container__subtitle{
        font-size:1.1rem;
    }
    .service-offer-card__title{
        font-size:1.2rem;
    }
    .service-offer-card__info{
        font-size:1.08rem;
    }
    .additional-image-text{
        font-size:1.35rem;
    }
    .plans h3{
        font-size:1.3rem;
    }
    .plans-card__title{
        font-size:1.1rem;
    }
    .plans-card__amount{
        font-size:3.8rem;
    }

    .plans-card{
        padding:15px 30px;
    }
    .plans-card:nth-child(1) {
        margin-left:90px;
    }
    .plans-card:nth-child(3) {
        margin-right:90px;
    }
    .plans-card-details p {
    font-size:0.85rem;
    }
    .plans-card__button{
        width:120px;
        margin-left:40px;
    }
    .plans-card__button a{
        font-size:1rem;
    }
    footer p{
        font-size:1rem;
    }
    .social-media span{
        width:20px;
        height:20px;
    }
    .footer-right{
        width:115px;
        height:62px;
        margin-left:50px;
    }
}

@media (min-width:768px){

    header h1{
        font-size:1.4rem;
    }
    .discover-container__title{
        font-size:1.4rem;
    }
    .discover-container__subtitle{
        font-size:1.2rem;
    }
    .articles-card>div:nth-child(1){
        margin-left:20px;
    }
    .section2 h3{
        font-size:1.2rem;
    }
    .service-offer-card__icon{
        margin-left:15px;
    }
    .service-offer-card__title{
        margin-left:20px;
    }
    .service-offer-card__info{
        font-size:1.2rem;
        line-height:21px;
        margin-left:20px;
    }

    .additional-image-text{
        width:55%;
        font-size:1.6rem;
        line-height:30px;
    }
    .plans h3{
        font-size:1.4rem;
    }

    .plans-card:nth-child(1){
        margin-left:-25px;
    }

    .plans-card__title {
        font-size:1.2rem;
    }

    .plans-card-details p{
        margin-left:5px;
    }

    .footer-left{
        margin-left:85px;
    }

    
}

@media (min-width:1024px){

    header h1{
        width:60%;
    }
    .discover-container__subtitle{
        width:70%;
        font-size:1.3rem;
    }
    .articles-card>div{
        margin-left:10px;
    }
    
}




